.embed, .embed iframe {
  width: 100%;
  max-width: 100%;
}

body.login-action-confirmaction h1{
  display: none;
}

.woocommerce-password-strength,
.woocommerce-password-strength.short,
.woocommerce-password-strength.bad {
  color: darkred;
}

.woocommerce-password-strength.strong {
  color: darkgreen;
}