.embed,
.embed iframe {
  width: 100%;
  max-width: 100%;
}
body.login-action-confirmaction h1 {
  display: none;
}
.woocommerce-password-strength,
.woocommerce-password-strength.short,
.woocommerce-password-strength.bad {
  color: darkred;
}
.woocommerce-password-strength.strong {
  color: darkgreen;
}
/* Align Product Meta Icons */
.product_meta .fa {
  display: inline-block;
}
/* Variations */
.woocommerce div.product form.cart.variations_form.cart {
  border-width: 2px 0;
}
.woocommerce div.product form.cart.variations_form .voucher-help-link {
  display: block;
}
.woocommerce div.product form.cart.variations_form .voucher-help-link .glyphicon {
  margin-right: 5px;
}
.woocommerce div.product form.cart.variations_form .variations input[type=radio] {
  margin-left: 0;
}
.woocommerce div.product form.cart.variations_form .variations th,
.woocommerce div.product form.cart.variations_form .variations td {
  display: list-item;
  padding: 0;
  list-style: none;
  background-color: transparent;
  text-align: left;
}
.woocommerce div.product form.cart.variations_form .variations select {
  display: inline-block;
  width: auto;
}
.woocommerce div.product form.cart.variations_form .variations td.value {
  margin-bottom: 1em;
  border-color: transparent;
  padding: 0 !important;
  white-space: normal;
}
.woocommerce div.product form.cart.variations_form .variations td.label {
  border-color: transparent;
  width: 100%;
  padding: 0;
}
.woocommerce div.product form.cart.variations_form .variations .radio label {
  font-weight: normal;
  margin-left: 10px;
}
.woocommerce div.product form.cart.variations_form table.woo-vou-recipient-fields {
  border: 0;
  width: 100%;
}
.woocommerce div.product form.cart.variations_form table.woo-vou-recipient-fields td.label {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
.woocommerce div.product form.cart.variations_form table.woo-vou-recipient-fields textarea {
  min-height: 100px;
}
.woocommerce div.product .vouchers-fields-wrapper-variation {
  padding: 20px;
}
.woocommerce div.product .vouchers-fields-wrapper {
  padding: 20px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.woocommerce div.product .attribute-choisissez-le-format-du-bon-cadeau .label,
.woocommerce div.product .attribute-pa_format-bon-cadeau .label {
  margin-right: 20px;
}
.woocommerce div.product .attribute-choisissez-le-format-du-bon-cadeau .radio,
.woocommerce div.product .attribute-pa_format-bon-cadeau .radio,
.woocommerce div.product .attribute-choisissez-le-format-du-bon-cadeau td > div,
.woocommerce div.product .attribute-pa_format-bon-cadeau td > div {
  display: inline-block;
  margin: 0 20px 0 0;
}
.woocommerce div.product .attribute-choisissez-le-format-du-bon-cadeau .radio input[type=radio],
.woocommerce div.product .attribute-pa_format-bon-cadeau .radio input[type=radio],
.woocommerce div.product .attribute-choisissez-le-format-du-bon-cadeau td > div input[type=radio],
.woocommerce div.product .attribute-pa_format-bon-cadeau td > div input[type=radio] {
  margin-left: 0;
}
.woocommerce div.product .attribute-choisissez-le-format-du-bon-cadeau .reset_variations,
.woocommerce div.product .attribute-pa_format-bon-cadeau .reset_variations {
  display: none !important;
}
/*# sourceMappingURL=tmsm-frontend-optimizations-public.css.map */